doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title=title
    style
      include site.css
    link(rel="stylesheet", href="./dist/native-toast.css?t=#{time}")
  body
    include github.html
    .main
      h1.site-name Native Toast
      .buttons
        .buttons-left
          button.md-button.click-button(onclick="fromTop()") Toast Top
          button.md-button.click-button(onclick="fromCenter()") Toast Center
          button.md-button.click-button(onclick="fromBottom()") Toast Bottom
          button.md-button.click-button(onclick="squared()") Squared Toast
        .buttons-right
          button.md-button.click-button(onclick="error()") Error
          button.md-button.click-button(onclick="warning()") Warning
          button.md-button.click-button(onclick="success()") Success
          button.md-button.click-button(onclick="info()") Info
    script(src="./dist/native-toast.js?t=#{time}")
    script.
      function fromTop() {
        nativeToast({
          message: 'No more posts',
          position: 'top'
        })
      }
      function fromBottom() {
        nativeToast({
          message: 'No more posts'
        })
      }
      function fromCenter() {
        nativeToast({
          message: 'No more posts',
          position: 'center'
        })
      }
      function squared() {
        nativeToast({
          message: 'No more posts',
          square: true
        })
      }
      function error() {
        nativeToast({
          message: 'Something bad happened!',
          type: 'error'
        })
      }
      function info() {
        nativeToast({
          message: 'Some information!',
          type: 'info'
        })
      }
      function warning() {
        nativeToast.warning({
          message: 'Something warning!'
        })
      }
      function success() {
        nativeToast({
          message: 'Success message!',
          type: 'success'
        })
      }
